<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPQuq4Q0ZgqZR6CsSh2RbqQSRFMsGHMaI</string>
	<key>GCM_SENDER_ID</key>
	<string>498753005046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shine.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shine-9eaa6</string>
	<key>STORAGE_BUCKET</key>
	<string>shine-9eaa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498753005046:ios:87f55812fd050c5e7113d7</string>
</dict>
</plist>